@model dynamic
@{
    ViewData["Title"] = "Home Page";
}


<script type="text/javascript" src="~/js/script.js"></script>
<main id="main">
    
    <section class="services">
        <div class="container" id="Featured-items-container" style="border-color:#397fa2; border-radius:5px; border-width:medium; border-style:solid; padding:12px; margin-top:30px; margin-bottom:20px;">
            <h2 id="h2">Featured Items</h2>
            <div class="row" id="Featured-items">
                @foreach(var Item in Model.FeaturedItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Featured-items", 0)</script>}
            </div>
        </div>

        <div class="container" id="home-page-container">
            <h3><a href="/Customer/Results" style="color:grey">Supplies (see more)</a></h3>
            <div class="row" id="Supplies-items">
                @foreach (var Item in Model.SuppliesItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Supplies-items", 0)</script>}
            </div>

            <h3><a href="/Customer/Results" style="color:grey">Dorm Furniture (see more)</a></h3>
            <div class="row" id="Dorm-Furniture-items">
                @foreach (var Item in Model.DormFurnitureItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Dorm-Furniture-items", 0)</script>}
            </div>

            <h3><a href="/Customer/Results" style="color:grey">Electronics (see more)</a></h3>
            <div class="row" id="Electronics-items">
                @foreach (var Item in Model.ElectronicsItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Electronics-items", 0)</script>}
            </div>

            <h3><a href="/Customer/Results" style="color:grey">Women's Clothing (see more)</a></h3>
            <div class="row" id="Womens-Clothes-items">
                 @foreach(var Item in Model.WomensClothesItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Womens-Clothes-items", 0)</script>}
            </div>

            <h3><a href="/Customer/Results" style="color:grey">Men's Clothing (see more)</a></h3>
            <div class="row" id="Mens-Clothes-items">
                 @foreach(var Item in Model.MensClothesItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Mens-Clothes-items", 0)</script>}
            </div>

            <h3><a href="/Customer/Results" style="color:grey">Accessories (see more)</a></h3>
            <div class="row" id="Accessories-items">
                 @foreach(var Item in Model.AccessoriesItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Accessories-items", 0)</script>}
            </div>

            <h3><a href="/Customer/Results" style="color:grey">Services (see more)</a></h3>
            <div class="row" id="Services-items">
                 @foreach(var Item in Model.ServicesItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Services-items", 0)</script>}
            </div>

            <h3><a href="/Customer/Results" style="color:grey">Other (see more)</a></h3>
            <div class="row" id="Other-items">
                 @foreach(var Item in Model.OtherItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Other-items")</script>}
            </div>

            <h3><a href="/Customer/Results" style="color:grey">Browse All (see more)</a></h3>
            <div class="row" id="Browse-All-items">
                 @foreach(var Item in Model.BrowseAllItems){
                    <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Browse-All-items")</script>}
            </div>
            
        </div>

    </section>

</main><!-- End #main -->
