@{
    ViewData["Title"] = "Items";
}
@model dynamic


<script type="text/javascript" src="~/js/script.js"></script>

<main id="main">
    <div class="si-row">
        <div class="si-column si-left">
            <img style="width:500px;" src='@Url.Action("GetItemPhoto", "Newlisting", new { id = @Model.item.ItemID })' alt="Item Image" />
            
        </div>
        <div class="si-column si-right">
            <h2 id="si-Title">@Model.item.Title</h2>
            <p>@Model.item.ItemDescription</p>
            <h3 id="si-Price">$@Model.item.Price</h3>


            <br />

            @if (Model.user.Email != Model.item.Email)
            {
                <form asp-action="Create" enctype="multipart/form-data">
                    
                    <input type="text" style="display:none;" name="id" value="@Model.item.ItemID">
                    <button class="btn" style="background-color:#68A4C4;color:#DDECF5;margin-bottom:10px;" 
                            type="submit" value="Submit">Make Offer</button>
                </form>
            }
        </div>

        <div class="si-column si-right">
            <h2>Offers: </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name: </th>
                    </tr>
                </thead>
                <tbody id="offers-table-body">
                </tbody>
            </table>
        </div>
    </div>

    @foreach (var Offer in Model.Offers)
    {
        <script>
                loadOffer('@Offer.FName', '@Offer.LName', '@Offer.buyerEmail')
        </script>

    }




</main>
