@{
    ViewData["Title"] = "User profile";
}
@model dynamic


<script type="text/javascript" src="~/js/script.js"></script>
<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">
            <div class="row">
                <h2>Hi @Model.customer.Fname!</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <a href="/Customer/User/profile" style="color:inherit;">
                        <div class="icon-box icon-box-blue">
                            <h4 class="title">Your Info:</h4>
                            <p>@Model.customer.Fname @Model.customer.LName</p>
                            <p>@Model.customer.Email</p>
                            <p>@Model.customer.PhoneNumber</p>
                            <p>@Model.customer.Username</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <a href="/Customer/Newlisting" style="color:inherit;">
                        <div class="icon-box icon-box-blue">
                            <h4 class="title">Sell an item</h4>
                            <p class="description">Create a new listing</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <a href="/Identity/Account/Logout" style="color:inherit;">
                        <div class="icon-box icon-box-blue">
                            <h4 class="title">Log out</h4>
                            <p class="description">Sign out of your account</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="container" id="Featured-items-container" style="border-color:#397fa2; border-radius:5px; border-width:medium; border-style:solid; padding:12px; margin-top:15px; margin-bottom:20px;">
                    <h2 id="h2">Your items: </h2>
                    <div class="row" id="Users-listed-items">
                        @foreach (var Item in Model.custItems)
                        {
                            <script>loadItem('@Item.Title', '@Item.ItemDescription', '@Item.Price', "Users-listed-items", '@Item.ItemID')</script>}
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
</main>