@{
    ViewData["Title"] = "Admin profile";
}
@model List<List<double>>

<script type="text/javascript" src="~/js/script.js"></script>
<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">
            <div class="row">
                <h2>Administrator Portal</h2>
                <br /><br /><br />
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <h4>To create a new user account as an administrator, click <a href="/Identity/Account/Register">here. </a></h4>
                    <br /><br />
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <h4>To log out, click <a href="/Identity/Account/Logout">here. </a></h4>
                    <br /><br />
                </div>
            </div>
        </div>
        <div class="container">
            <br /><br /><h4>REPORT: </h4>
        </div>
        <div class="container">
            <div id="admin-report" class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">

                <div class="row">
                    <br /><br />
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Category</th>
                                <th scope="col">No. Items</th>
                                <th scope="col">Gross ($)</th>
                                <th scope="col">Average ($)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Supplies</td>
                                <td>@Model[0][0]</td>
                                <td>$@Model[0][1]</td>
                                <td>$@Model[0][2]</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Dorm Furniture</td>
                                <td>@Model[1][0]</td>
                                <td>$@Model[1][1]</td>
                                <td>$@Model[1][2]</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Electronics</td>
                                <td>@Model[2][0]</td>
                                <td>$@Model[2][1]</td>
                                <td>$@Model[2][2]</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Men's Clothing</td>
                                <td>@Model[3][0]</td>
                                <td>$@Model[3][1]</td>
                                <td>$@Model[3][2]</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Women's Clothing</td>
                                <td>@Model[4][0]</td>
                                <td>$@Model[4][1]</td>
                                <td>$@Model[4][2]</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Accessories</td>
                                <td>@Model[5][0]</td>
                                <td>$@Model[5][1]</td>
                                <td>$@Model[5][2]</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Services</td>
                                <td>@Model[6][0]</td>
                                <td>$@Model[6][1]</td>
                                <td>$@Model[6][2]</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <th>Total</th>
                                <th>@Model[7][0]</th>
                                <th>$@Model[7][1]</th>
                                <th>$@Model[7][2]</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>